<%- include('../partials/header') %>

<main class="main">
    <form 
        class="container login bounce-in-top" 
        action=""
        method="POST"
        enctype="application/x-www-form-urlencoded"
    >
        <div class="form-floating mb-3">
            <input 
                type="email" 
                class="form-control" 
                id="email" 
                name="email"
                placeholder="ejemplo@ejemplo.com"
            >
            <label for="email">Correo electrónico</label>
        </div>
        <div class="form-floating mb-3">
            <input 
                type="password" 
                class="form-control" 
                id="password" 
                name="password"
                placeholder="Password"
            >
            <label for="password">Clave</label>
        </div>
        <div class="form-floating mb-3">
            <input 
                type="password" 
                class="form-control" 
                id="passwordAgain" 
                name="passwordAgain"
                placeholder="Password"
            >
            <label for="passwordAgain">Repite clave</label>
        </div>
        <div class="clearfix mb-4">
            <button type="submit" class="button-86 me-2 float-end">Registrarse</button>
        </div>
        <div class="container text-center">
            <hr>
            <p>
                ¿ Ya está registrado ?
                <a href="/auth/iniciar-sesion" class="text-info">Ingresar</a>
            </p>
        </div>
    </form>
</main>

<%- include('../partials/footer') %>