
    <footer class="text-center py-5">
        <p class="text-info">&copy; 2024 | Todos los derechos reservados</p>
        <p>Hecho con ❤️ por <span class="text-info"> Cacciatori </span></p>
    </footer>

    <%- include('scripts') %>
    <%- include('../scripts/alert.ejs') %>
    <%- include('../scripts/toast.ejs') %>
    <%- include('../scripts/new-href.ejs') %>

</body>