<%- include('./../partials/header') %>

<main class="main">
    <div class="container">
        <% if(books?.length){ %>
            <h1 class="text-info">Lista de Libros</h1>
            <div class="row">
                <% books.forEach( (book,index) => { %>
                    <%- include('./../components/card-book', { book: book }) %>
                <% }); %>
            </div>                
        <%} else{ %>
            <h1 class="text-warning text-center">No hay libros disponibles.</h1>
        <% } %>
    </div>
</main>

<%- include('./../partials/footer') %>